<div flex="10" layout="column">
    <div flex="10"></div>
    <div flex="5" style="text-align: center; font-size: 1em; padding: 1vh">
        AM
    </div>
    <div flex="5"></div>
</div>
<md-divider></md-divider>
<div flex="55"></div>
<md-divider></md-divider>
<div layout-align="center center" layout="column">
    <portfolio-component></portfolio-component>
</div>
<md-divider></md-divider>
<div layout-align="center center" layout="column">
    <nav-indicator-component></nav-indicator-component>
</div>
<md-divider></md-divider>
<div layout-align="center center" layout="column">
    <tools-component></tools-component>
</div>
<md-divider></md-divider>
<div layout="column" flex="5">
    <nav-options-component flex></nav-options-component>
</div>