<md-menu flex>
    <md-button flex
               ng-click="$ctrl.openMenu($mdOpenMenu, $event)"
               style="font-size: .4em; margin: 0; padding: 0;
               min-width: 0; min-height: 100%">
        <div layout="row"layout-align="center center">
            <md-icon flex class="material-icons" style="font-size:3em;">
                settings
            </md-icon>
        </div>
    </md-button>
    <md-menu-content>
        <md-menu-item>
            <md-button>
                Log in
            </md-button>
        </md-menu-item>
    </md-menu-content>
</md-menu>