<div style="min-width: 6vh; width:6vh; margin: 0; padding: 0; min-height: 6vh; height: 6vh; line-height: 0; font-size: 0.5em;">

</div>
<div layout="row">
    <md-divider></md-divider>
    <div ng-repeat="stock in $ctrl.stocks" layout="row">
        <md-button flex="none" style="min-width:4vh; width: 4vh; max-width: 4vh;
                    min-height: 2vh; height: 2vh; max-height: 2vh; line-height: 0;
                    padding: 0px; margin: 0px; font-size: 0.4em;">
            {{stock.ticker}}
        </md-button>
    </div>
</div>